dwso/arm_templates/09_bl_dm_pipeline_template.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
        "variables": {
        "factoryName": "etlbooksalesdatafactory",
        "linkedservice": "OutputSQL_BL_DM"
    },
    "resources": [
        {
            "name": "[concat(variables('factoryName'), '/bl_dm_pipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "ld_dim_type_payments",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": { "storedProcedureName": "[[dbo].[ld_dim_type_payments]" },
                        "linkedServiceName": {
                            "referenceName": "[variables('linkedservice')]",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "ld_dim_stores",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": { "storedProcedureName": "[[dbo].[ld_dim_stores]" },
                        "linkedServiceName": {
                            "referenceName": "[variables('linkedservice')]",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "ld_dim_employees",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": { "storedProcedureName": "[[dbo].[ld_dim_employees]" },
                        "linkedServiceName": {
                            "referenceName": "[variables('linkedservice')]",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "ld_dim_addresses",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": { "storedProcedureName": "[[dbo].[ld_dim_addresses]" },
                        "linkedServiceName": {
                            "referenceName": "[variables('linkedservice')]",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "ld_dim_books",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": { "storedProcedureName": "[[dbo].[ld_dim_books]" },
                        "linkedServiceName": {
                            "referenceName": "[variables('linkedservice')]",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "ld_dim_customers",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": { "storedProcedureName": "[[dbo].[ld_dim_customers]" },
                        "linkedServiceName": {
                            "referenceName": "[variables('linkedservice')]",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "ld_ce_sales_by_part",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "ld_dim_type_payments",
                                "dependencyConditions": [ "Succeeded" ]
                            },
                            {
                                "activity": "ld_dim_stores",
                                "dependencyConditions": [ "Succeeded" ]
                            },
                            {
                                "activity": "ld_dim_employees",
                                "dependencyConditions": [ "Succeeded" ]
                            },
                            {
                                "activity": "ld_dim_addresses",
                                "dependencyConditions": [ "Succeeded" ]
                            },
                            {
                                "activity": "ld_dim_books",
                                "dependencyConditions": [ "Succeeded" ]
                            },
                            {
                                "activity": "ld_dim_customers",
                                "dependencyConditions": [ "Succeeded" ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": { "storedProcedureName": "[[dbo].[ld_ce_sales_by_part]" },
                        "linkedServiceName": {
                            "referenceName": "[variables('linkedservice')]",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "annotations": [],
                "lastPublishTime": "2022-02-07T23:33:11Z"
            },
            "dependsOn": []
        }
    ]
}