dwso/arm_templates/10_load_etl_template.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {},
    "variables": {
        "factoryName": "etlbooksalesdatafactorytest"
    },
    "resources": [
        {
            "name": "[concat(variables('factoryName'), '/load_etl')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Load sa_stock",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Load sa_retail part 2",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "sa_stock_pipeline",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true
                        }
                    },
                    {
                        "name": "Load bl_3nf",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Load sa_stock",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "bl_3nf_pipeline",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true
                        }
                    },
                    {
                        "name": "load bl_dm",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Load bl_3nf",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "bl_dm_pipeline",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true
                        }
                    },
                    {
                        "name": "Load sa_rettail part 1",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "sa_retail_pipeline_part_1",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true
                        }
                    },
                    {
                        "name": "Load sa_retail part 2",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Load sa_rettail part 1",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "sa_retail_pipeline_part_2",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true
                        }
                    }
                ]

            },
            "dependsOn": []
        }
    ]
}