dwso/arm_templates/11_load_etl_template.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {},
    "variables": {
        "factoryName": "etlbooksalesdatafactory",
        "UrlLogicApp": "https://prod-133.westeurope.logic.azure.com:443/workflows/4aaefa2bfdb9454db600e18503c854af/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=56mJngCx8oiehfiMcrLKbaC7Ym_hBd10K5as2qy7UZg"
    },
    "resources": [
        {
            "name": "[concat(variables('factoryName'), '/load_etl')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Execute sa_retail part 1",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "sa_retail_pipeline_part_1",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true
                        }
                    },
                    {
                        "name": "Execute sa_retail part 2",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Execute sa_retail part 1",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "sa_retail_pipeline_part_2",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true
                        }
                    },
                    {
                        "name": "Execute sa_stock",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Execute sa_retail part 2",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "sa_stock_pipeline",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true
                        }
                    },
                    {
                        "name": "Execute bl_3nf",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Execute sa_stock",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "bl_3nf_pipeline",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true
                        }
                    },
                    {
                        "name": "Execute bl_dm",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Execute bl_3nf",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "bl_dm_pipeline",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true
                        }
                    },
                    {
                        "name": "Execute move blob",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Web send notification",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "move_blob_pipeline",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true
                        }
                    },
                    {
                        "name": "Web send notification",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "Execute bl_dm",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "url":"[variables('UrlLogicApp')]",
                            "method": "POST",
                            "body": {
                                "message": "Pipeline with run ID @{pipeline().RunId} has been run successfully.",
                                "dataFactoryName": "@{pipeline().DataFactory}",
                                "pipelineName": "@{pipeline().Pipeline}"
                            }
                        }
                    },
                    {
                        "name": "Web send faild notification",
                        "type": "WebActivity",
                        "dependsOn": [
                            {
                                "activity": "Execute bl_dm",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            },
                            {
                                "activity": "Execute bl_3nf",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            },
                            {
                                "activity": "Execute sa_stock",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            },
                            {
                                "activity": "Execute sa_retail part 2",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            },
                            {
                                "activity": "Execute sa_retail part 1",
                                "dependencyConditions": [
                                    "Failed"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "url": "[variables('UrlLogicApp')]",
                            "method": "POST",
                            "body": {
                                "message": "Pipeline with run ID @{pipeline().RunId} has been run with error.",
                                "dataFactoryName": "@{pipeline().DataFactory}",
                                "pipelineName": "@{pipeline().Pipeline}"
                            }
                        }
                    }
                ]

            },
            "dependsOn": []
        }
    ]
}